.dashboard-container {
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.dashboard-title {
    font-family: 'PixelFont', sans-serif;
    color: white;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    text-shadow: 2px 2px #000;
}
  
.dashboard-projects {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin-top: 20px;
}
  
.plus-button {
    background-color: #b5651d;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PixelFont', sans-serif;
    color: white;
    font-size: 36px;
    border: 3px solid #873600;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.plus-button:hover {
    background-color: #873600;
}
