body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
}

/* for the cloud images to sit side by side */
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 150%; 
  z-index: 0;
  display: flex;
  animation: scroll 60s linear infinite; /* to scroll the clouds infinately */
}

.clouds-background, .clouds-dupe {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.mountain {
  position: absolute; 
  top: -100px;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 1;
}

/* Keyframes for seamless scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


